@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

:root {
    --main: #BB0D0D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, h1, button, p, img{
    cursor: url('./Resources/cursor.png'), auto;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main);
}

.HeroSection{
    width: 100vw;
    height: 100vh;
    color: white;
    background: rgb(207,108,108);
    background: radial-gradient(circle, rgba(207,108,108,1) 0%, rgb(187, 13, 13) 59%, rgb(187, 13, 13,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#firstHead{
    font-family: "Rouge Script", cursive;
    font-size: 3vw;
}

#secondHead{
    font-size: 6vw;
    margin: 2vw 0;
    font-family: "Rouge Script", cursive;
}

#thirdHead{
    font-family: "Rouge Script", cursive;
    font-size: 3vw;
}

.HeroSection a{
    text-decoration: none;
    color: var(--main);
    padding: 10px 1.5vw;
    border-radius: 50px;
    font-size: 1vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
    background-color: white;
    transition: 1s;
}

.HeroSection a:hover{
    transition: .3s;
    border: 1px solid white;
    background-color: var(--main);
    color: white;
    border-radius: 0;
}

/* ------------------------------------------Card.html----------------------------------------- */

.cardHero{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(207,108,108);
    background: radial-gradient(circle, rgba(207,108,108,1) 0%, rgb(187, 13, 13) 59%, rgb(187, 13, 13,1) 100%);
}

.cardHero #date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 3vw;
    font-family: "Rouge Script", cursive;
    animation-name: date;
    animation-duration: 2s;
    font-size: 2.5vw;
}

.cardHero #dateMiddle{
    text-align: center;
    padding: 0 2vw;
    margin: 0 2vw;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.cardHero .timings{

}

@keyframes phoneBox {
    from   {margin-right: 30vw;opacity:0;}
    to  {margin-right: 0vw;opacity:1;}
}
@keyframes date {
    from   {margin-bottom: 30vw;opacity:0;}
    to  {margin-bottom: 3vw;opacity:1;}
}
@keyframes openBtn {
    from   {margin-left: 30vw;opacity:0;}
    to  {margin-left: 0vw;opacity:1;}
}

.cardHero img{
    width: 30vw;
    padding: 0px;
    box-shadow: 2px 2px 50px 1px white;
    animation-name: phoneBox;
    animation-duration: 2s;
    border-radius: 20px;
}

.cardHero a{
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 50px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.2vw;
    padding: .8vw;
    transition: .4s;
    animation-name: openBtn;
    animation-duration: 2s;
}

.cardHero a:hover{
    transition: .4s;
    background-color: #fff;
    color: var(--main);
}

.container{
    padding: 2rem;
}

.OpenedBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.OpenedBox h1{
    color: white;
    font-size: 3vw;
}
.OpenedBox .cardWrapper{
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.OpenedBox .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    max-width: 40vw;
    height: 30vh;
    border-radius: 10px;
    transition: .3s;
}

.OpenedBox .card:hover{
    transition: .3s;
    box-shadow: 1px 1px 20px 5px white;
}

.OpenedBox .card img{
    width: 10vw;
    margin: 50px;
}

.OpenedBox .cardTxt h1{
    color: var(--main);
    font-size: 2vw;
}
.OpenedBox .cardTxt p{
    font-size: .8vw;
    font-family: sans-serif;
}

.OpenedBox .cardTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
    padding: 50px;
    color: var(--main);
}